@page "/Manager"

<div class="card">
    <div class="card-header">
        <table width="100%">
            <tr>
                <td>
                    <span style="font-size: 1em"> <span class="bi-house-fill"></span>&nbsp;<span style="font-size: 1em; color:Highlight; font-weight: bold">장기수선충당금 부과·적립 상세</span></span>
                </td>
                <td>
                </td>
                <td align="right">
                    <button type="button" class="btn btn-primary btn-sm"><span class="bi-box-arrow-in-right"> &nbsp; 공동주택단지 관리</span></button>
                    <button type="button" class="btn btn-primary btn-sm"><span class="bi-box-arrow-in-right"> &nbsp; 로그관리</span></button>
                    <button type="button" class="btn btn-primary btn-sm"><span class="bi-box-arrow-in-right"> &nbsp; 장기수선관리</span></button>
                    <button type="button" class="btn btn-primary btn-sm"><span class="bi-box-arrow-in-right"> &nbsp; 수선이력관리</span></button>
                    <button type="button" class="btn btn-primary btn-sm"><span class="bi-box-arrow-in-right"> &nbsp; 단가관리</span></button>
                    <button type="button" class="btn btn-primary btn-sm"><span class="bi-box-arrow-in-right"> &nbsp; 장기수선관리센타</span></button>
                </td>
            </tr>
        </table>
    </div>
    <div class="card-body">
        <button type="button" class="btn btn-primary btn-sm"><span class="bi-box-arrow-in-right"> &nbsp; 공동주택선택</span></button>
        <button type="button" class="btn btn-primary btn-sm"><span class="bi-box-arrow-in-right"> &nbsp; 비의무단지 관리</span></button>
        <button type="button" class="btn btn-primary btn-sm"><span class="bi-box-arrow-in-right"> &nbsp; 공지사항 관리</span></button>
        <button type="button" class="btn btn-primary btn-sm"><span class="bi-box-arrow-in-right"> &nbsp; 묻고 답하기 관리</span></button>
        <button type="button" class="btn btn-primary btn-sm"><span class="bi-box-arrow-in-right"> &nbsp; 자료실</span></button>
    </div>
</div>
